<html>
<head>
  <title>School Management System</title>
  <style type="text/css">
    div#container{width:100%;height:100%;}
    div#header {background-color:rgb(34,176,176);height:10%;text-align:center;}
    div#type {background-color:#ee99ff;height:85%;width:15%;float:left;}
    div#content {background-color:#ffffff;height:85%;width:85%;float:left;}
    div#footer {background-color:orange;clear:both;text-align:center;height:5%;}
    h1 {margin-bottom:0;}
    h2 {margin-bottom:0;font-size:18px;}
    ul {margin:0;}
    li {list-style:circle;}
  </style>
  
</head>

<body>
  <div id="container">
    <div id="header">
      <font size="10">School Management System</font>
    </div>

    <div id="type">
      <h2>Type</h2>
      <ul>
        <li><a href="/"><abbr title="Student">Home</abbr></a></li>
        <li><a href="/student"><abbr title="Student">Student</abbr></a></li>
        <li><a href="/professor"><abbr title="Professor">professor</abbr></a></li>
        <li><a href="Admin.html"><abbr title="Admin">Admin</abbr></a></li>
      </ul>
      <hr />
      <small>put the mouse on the choice, you can see the abbreviation</small>
    </div>

    <div id="content">
    <image src ="https://i.ytimg.com/vi/7cwUcdpUayQ/maxresdefault.jpg" width=100% height=100%>
    </div>

    <div id="footer">--- By Yihan Dai<sup>&copy;</sup> ---</div>
  </div>   
</body>
</html>